MONGODB_URI=mongodb+srv://Codehire:peWwo2RR9dfBHF7B@cluster0.f0js6qo.mongodb.net/codetrack?retryWrites=true&w=majority&appName=Cluster0

NEXTAUTH_SECRET=codetrack_super_secret_key_2024_replace_in_production

NEXTAUTH_URL=http://localhost:3000

GITHUB_TOKEN=

LEETCODE_SESSION=
